<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="/Template/source/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Animate Css -->
    <link rel="stylesheet" href="/Template/source/plugins/animate-css/animate.css">
    <!-- Themify icon Css -->
    <link rel="stylesheet" href="/Template/source/plugins/themify/css/themify-icons.css">
    <link rel="stylesheet" href="/Template/source/plugins/magnific-popup/magnific-popup.css">
    <!-- Slick Carousel CSS -->
    <link rel="stylesheet" href="/Template/source/plugins/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="/Template/source/plugins/slick-carousel/slick/slick-theme.css">
    <link rel="stylesheet" href="/Template/source/plugins/owl-carousel/owl.css">

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="~/Template/theme/css/style.css">
    <title>BoLib - Admin</title>
</head>

<body>
    @await Html.PartialAsync("_navbar")
    <main style="margin-top:130px; background-color: #fe9898" class="container">
        @RenderBody()
    </main>
    <footer class="mb-0 py-5 bg-dark text-white text-center"><span class="text-color">Bo</span>Lib | 2022</footer>
</body>
</html>